

<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <!-- <h1 class="jumbotron-heading">Album example</h1> -->
      <h1 class="jumbotron-heading">装備編成共有サイト</h1>
      <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
      <p class="lead text-muted">フルオートで日課を消化するときどんな編成を使ってるかを共有しよう</p>
      <p>
        <!-- <a href="#" class="btn btn-primary my-2">Main call to action</a> -->
        <%= link_to '投稿する', new_fagrid_path, class: "btn btn-primary my-2"%>
        <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
        <%= link_to '検索する', fagrids_search_path, class: "btn btn-secondary my-2"%>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
    
      <div class="row">
      <% @fagrids.each do |fagrid| %>
        <div class='col-md-4 grid-card'>
          <div class="card mb-4 shadow-sm">
          <%= link_to fagrid_path(fagrid.id) do %>
            <%= image_tag fagrid.image, class: "card-img-top" %>
          <% end %>
            <div class="card-body">
              <h4 class="card-title"><%= fagrid.quest.name %></h4>
              <p class="card-text"><%= fagrid.main_summon.name %>(<%= fagrid.attr.name %>)　<%= fagrid.job.name %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                  <button type="button" class="btn btn-sm btn-outline-secondary">見る</button>
                  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                  <button type="button" class="btn btn-sm btn-outline-secondary">編集</button>
                </div>
                <!-- <small class="text-muted">9 mins</small> -->
                <small class="text-muted">投稿日時：<%= l fagrid.created_at, format: :short %></small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>

</main>
