

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @fagrid.quest.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @fagrid.image, class:"item-box-img" %>
    </div>

    <div class="item-explain-box">
      <span><%= @fagrid.remark %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ジョブ</th>
          <td class="detail-value"><%= @fagrid.job.name %></td>
        </tr>
        <tr>
          <th class="detail-item">アビリティ</th>
          <td class="detail-value"><%= @fagrid.ex_ability.name %>　<%= @fagrid.limit_ability.name %></td>
        </tr>
        <tr>
          <th class="detail-item">バトルメンバー</th>
          <td class="detail-value"><%= @fagrid.member1 %>　<%= @fagrid.member2 %>　<%= @fagrid.member3 %>　<%= @fagrid.member4 %>　<%= @fagrid.member5 %></td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">メイン石</th>
          <th scope="col">天司石</th>
          <th scope="col">アーカルム石(与ダメ)</th>
          <th scope="col">アーカルム石(HP)</th>
          <th scope="col">終末</th>
          <th scope="col">所要時間</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @fagrid.main_summon.name %></td>
          <td><%= @fagrid.seraphic.name %></td>
          <td><%= @fagrid.atk_arculm.name %></td>
          <td><%= @fagrid.hp_arculm.name %></td>
          <td><%= @fagrid.difficulty.name %></td>
          <td><%= @fagrid.time_about.name %></td>
        </tr>
      </tbody>
    </table>
  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%#= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
</div>

